In [2]:
import pandas as pd
import sqlite3
import zipfile

In [3]:
! pwd

/Users/imanithompson/Documents/Flatiron/Project/Movie-Data-Analysis-Project/Notebooks/Imani

In [4]:
! ls ../../zippedData/

bom.movie_gross.csv.gz  rt.movie_info.tsv.gz    tn.movie_budgets.csv.gz
im.db                   rt.reviews.tsv.gz
im.db.zip               tmdb.movies.csv.gz

# tmdb.movies.csv.gz

In [5]:
tm = pd.read_csv("../../zippedData/tmdb.movies.csv.gz")
tm

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [6]:
tm.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count'],
      dtype='object')

# tn.movie_budgets.csv.gz

In [7]:
tn = pd.read_csv('../../zippedData/tn.movie_budgets.csv.gz')
tn

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [8]:
tn.columns

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

# bom.movie_gross.csv.gz

In [9]:
bom = pd.read_csv('../../zippedData/bom.movie_gross.csv.gz')
bom

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [10]:
bom.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

# im.db

In [11]:
!ls ../../zippedData/

bom.movie_gross.csv.gz  rt.movie_info.tsv.gz    tn.movie_budgets.csv.gz
im.db                   rt.reviews.tsv.gz
im.db.zip               tmdb.movies.csv.gz

In [13]:
# import zipfile
with zipfile.ZipFile("../../zippedData/im.db") as zip_ref:
    zip_ref.extractall("../../zippedData/im.db")

BadZipFile: File is not a zip file

In [14]:
conn = sqlite3.connect("../../zippedData/im.db")

In [15]:
cursor = conn.cursor()

In [16]:
schema_df = pd.read_sql('''
SELECT * 
FROM sqlite_master
''', conn)
schema_df

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

In [17]:
print(schema_df['sql'][4])

CREATE TABLE "movie_ratings" (
"movie_id" TEXT,
  "averagerating" REAL,
  "numvotes" INTEGER
)

In [18]:
joinn = '''
SELECT b.primary_title,
    b.genres, 
    b.runtime_minutes,
    r.averagerating,
    r.numvotes
FROM movie_basics AS b
INNER JOIN movie_ratings AS r
    ON b.movie_id = r.movie_id
'''
imdb_genre = pd.read_sql(joinn, conn)
imdb_genre

,primary_title,genres,runtime_minutes,averagerating,numvotes
0,Sunghursh,"Action,Crime,Drama",175.0,7.0,77
1,One Day Before the Rainy Season,"Biography,Drama",114.0,7.2,43
2,The Other Side of the Wind,Drama,122.0,6.9,4517
3,Sabse Bada Sukh,"Comedy,Drama",NaN,6.1,13
4,The Wandering Soap Opera,"Comedy,Drama,Fantasy",80.0,6.5,119
...,...,...,...,...,...
73851,Diabolik sono io,Documentary,75.0,6.2,6
73852,Sokagin Ã‡ocuklari,"Drama,Family",98.0,8.7,136
73853,Albatross,Documentary,NaN,8.5,8
73854,La vida sense la Sara Amat,None,NaN,6.6,5
73855,DrÃ¸mmeland,Documentary,72.0,6.5,11

In [55]:
pd.read_sql('''
SELECT b.primary_title,
    b.genres, 
    b.runtime_minutes,
    r.averagerating,
    r.numvotes
FROM movie_basics AS b
INNER JOIN movie_ratings AS r
    ON b.movie_id = r.movie_id
WHERE b.genres == "Drama" --AND b.genres == "Comedy"

ORDER BY r.averagerating DESC

''',conn)

,primary_title,genres,runtime_minutes,averagerating,numvotes
0,Dog Days in the Heartland,Drama,NaN,10.0,5
1,Gini Helida Kathe,Drama,138.0,9.9,417
2,Eghantham,Drama,125.0,9.7,639
3,Gangter in Morteni,Drama,69.0,9.6,98
4,Taawdo the Sunlight,Drama,98.0,9.5,70
...,...,...,...,...,...
11607,Nakhodka interneta,Drama,162.0,1.0,17
11608,Glaza i mir. Chast 1,Drama,90.0,1.0,20
11609,La Scelta Impossibile,Drama,64.0,1.0,5
11610,Roofied: The Lethal Dose,Drama,NaN,1.0,112
11611,The Defender,Drama,88.0,1.0,16

In [54]:
imdb_genre['genres'] = imdb_genre['genres'].str.split(',')
imdb_genre['genres']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
73851   NaN
73852   NaN
73853   NaN
73854   NaN
73855   NaN
Name: genres, Length: 73856, dtype: float64

# The top 20 genre value counts
- shows genres that are used more freq

In [39]:
imdb_genre['genres'].value_counts()[:20]

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Drama]                     11612
[Documentary]               10313
[Comedy]                     5613
[Horror]                     2692
[Comedy, Drama]              2617
[Thriller]                   1555
[Drama, Romance]             1510
[Comedy, Romance]            1236
[Comedy, Drama, Romance]     1208
[Horror, Thriller]           1004
[Drama, Thriller]             990
[Action]                      979
[Romance]                     717
[Biography, Documentary]      694
[Documentary, Drama]          582
[Documentary, Music]          579
[Comedy, Horror]              579
[Action, Crime, Drama]        562
[Crime, Drama, Thriller]      504
[Crime, Drama]                494
Name: genres, dtype: int64

## list of single genre categories alone
- Drama
- Documentary 
- Comedy
- Horror
- Thriller
- Action
- Romance
- Family
- Animation
- Sci-Fi
- Crime
- Mystery
- Music
- Adventure
- Biography
- Fantasy
- Music 
- History

In [21]:
imdb_genre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   primary_title    73856 non-null  object
 1   genres           73052 non-null  object
 2   runtime_minutes  66236 non-null  float64
 3   averagerating    73856 non-null  float64
 4   numvotes         73856 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.8+ MB